[tool.poetry]
name = "doveseed"
version = "1.0.2"
description = "Doveseed is a backend service for email subscriptions to RSS feeds."
authors = ["Jan Gosmann <jan@hyper-world.de>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/jgosmann/doveseed/"
keywords = ["email", "rss", "subscriptions"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Framework :: Flask",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Communications :: Email",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Application"
]

[tool.poetry.dependencies]
python = "^3.7"
tinydb = "^3.15"
flask = "^1.1"
typing_extensions = "^3.7"
jinja2 = "^2.10"

[tool.poetry.dev-dependencies]
pytest = "^4.2"
mypy = "^0.740.0"
pytest-emoji = "^0.2.0"
pytest-mypy = "^0.4.1"
black = {version = "^18.3-alpha.0", allow-prereleases = true}
pylint = "^2.4"
flask_cors = "^3.0"
pytest-cov = "^2.10.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
